<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="../static/script.js"></script>
    <title>Duquesne Incline</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="logo">
        <img src="../static/DuqInclineLogo.png" alt="Duquesne Incline Logo" />
      </div>
      <h1 class="heading">Duquesne Incline</h1>
      <nav>
        <a href="../index.html">Home</a>
        <a href="./plan.html">Plan your trip</a>
        <a href="./about.html">About</a>
        <a href="./gift.html">Gift Shop</a>
      </nav>
    </header>
    <!-- MAIN -->
    <main>
      <div class="container">
        <h1 class="Title">About Us</h1>
        <nav class="subnav">
          <a href="#Early-History" class="subnav-link active">Early History</a>
          <a href="#The-Society" class="subnav-link">The Society</a>
          <a href="#Facts" class="subnav-link">Facts</a>
          <a href="#Links" class="subnav-link">Links</a>
        </nav>

        <section id="Early-History" class="subnav-content">
          <h3>Early History</h3>
          <p class="paragraph left-align">
            The Duquesne Incline is one of those which follows very closely the
            tracks of an early coal hoist. Old newspapers indicate the existence
            of such a conveyance as early as 1854. Residents apparently referred
            to it as "Kirk Lewis' incline" and located it on the present site of
            The Duquesne Incline's Upper Station. Grandview Avenue was then the
            High Street, and the area was just beginning to be converted from
            farmland to homesites. This pleasantly-situated acreage was an
            excellent area to absorb some of the expanding population of the
            city, but the problem of easy access was still to be solved.<br /><br />
            Although plans for a freight and passenger incline are known to have
            existed much earlier, financial backing was exceedingly hard to
            find--even the modest sum of $47,000--and actual construction was
            delayed. Eventually, of course, difficulties were overcome and the
            Incline was built. It was opened to the public May 20, 1877. The
            Duquesne Incline was the first Pittsburgh incline designed and built
            by Samuel Diescher, for Kirk Bigham and Associates. Mr. Diescher, an
            engineer, had become the country's foremost builder of inclines. He
            was also to design and build most of those that followed.<br /><br />
            At the time of its public opening, it was one of four inclined
            planes serving the summit of Coal Hill, which later came to be known
            as Mount Washington. The Duquesne Incline was operated, from 1877
            until 1962 by The Duquesne Inclined Plane Company. From 1964 until
            the present, the Incline has been operated by the Society for the
            Preservation of The Duquesne Heights Incline; it has been owned by
            the Port Authority of Allegheny County.
          </p>
        </section>
        <section id="The-Society" class="subnav-content display-none">
          <h3>
            The Society of the Preservation of the Duquesne Heights Incline
          </h3>
          <p class="paragraph">
            The Society for the Preservation of the Duquesne Heights Incline was
            formed in 1964 by the Duquesne Heights/Mount Washington neighborhood
            group that had rescued, repaired, and reopened the Incline in 1963.
            The purpose was to continue to restore and rehabilitate the cars,
            equipment, and both stations, and to establish the entire operation
            as a reliable commuter facility and a popular visitor attraction. 
            Memberships in the society are available, call for details.
          </p>
        </section>
        <section id="Facts" class="subnav-content display-none">
          <h3>Facts</h3>
          <p class="paragraph left-align">
            Opened to Public: May 20, 1877<br /><br />
            Cost to Build: $47,000<br /><br />
            Length of Track: 794 feet<br /><br />
            Elevation: 400 feet<br /><br />
            Grade: 30.5 degrees<br /><br />
            Speed: 6 miles per hour<br /><br />
            Passenger: Capacity 18 per car<br /><br />
          </p>
        </section>
        <section id="Links" class="subnav-content display-none">
          <h3>Links</h3>
          <p class="paragraph left-align">
            <a
              class="link"
              href="https://en.wikipedia.org/wiki/Duquesne_Incline"
              target="_blank"
              rel="noopener noreferrer"
              >Wikipedia</a
            ><br /><br />
            <a
              class="link"
              href="https://www.yelp.com/biz/duquesne-incline-pittsburgh"
              target="_blank"
              rel="noopener noreferrer"
              >Yelp</a
            ><br /><br />
            <a
              class="link map-link"
              href="https://www.facebook.com/TheDuquesneIncline"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="../static/facebook.jpg"
                alt="Facebook"
                class="fb-size"
              /> </a
            ><br /><br />
          </p>
        </section>
        <div class="vertical-container"></div>
      </div>
    </main>

    <!-- FOOTER -->
    <footer class="footer-UI">
      <div>
        <p>Contact Information</p>
        <p>1197 West Carson Street, Pittsburgh, PA 15219</p>
        <p>Phone Number: 412.381.1665</p>
        <p>Fax: 412.381.1943</p>
        <p>duq.incline@duquesneincline.org</p>
      </div>
      <div>
        <p>Pages</p>
        <p><a href="../index.html">Home</a></p>
        <p><a href="./plan.html">Plan your trip</a></p>
        <p><a href="./about.html">About</a></p>
        <p><a href="./gift.html">Gift Shop</a></p>
      </div>
      <div>
        <p>Subscribe to our Mailing List</p>
        <div class="horizontal-container">
          <input placeholder="Name" id="name" type="name" required />
          <input placeholder="Email address" id="email" type="email" required />
        </div>
        <div class="horizontal-container">
          <input placeholder="Phone" id="phone" type="phone" />
          <input placeholder="Zip Code" id="zip" type="zip" />
        </div>
        <div class="checkbox-container">
          <input type="checkbox" id="sms-checkbox" name="sms" />
          <p>I would like to receive messages via SMS text</p>
        </div>

        <button onclick="validate()">Subscribe</button>
        <p id="validity-msg"></p>
      </div>
    </footer>
  </body>
</html>
