<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="../static/script.js"></script>
    <title>Duquesne Incline</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="logo">
        <img src="../static/DuqInclineLogo.png" alt="Duquesne Incline Logo" />
      </div>
      <h1 class="heading">Duquesne Incline</h1>
      <nav>
        <a href="../index.html">Home</a>
        <a href="./plan.html">Plan your trip</a>
        <a href="./about.html">About</a>
        <a href="./gift.html">Gift Shop</a>
      </nav>
    </header>
    <!-- MAIN -->
    <main>
      <div class="container">
        <h1 class="Title">Gift Shop Items</h1>
        <div class="gift-container">
          <h2>INCLINE WOODEN ORNAMENT</h2>
          <img src="../static/ornament.jpg" alt="Incline Wooden Ornament" class="img1" />
        </div>
        <div class="gift-container">
          <h2>INCLINE SHOT GLASSES</h2>
          <img src="../static/glasses.jpg" alt="Incline Shot Glasses" class="img1" />
        </div>
        <div class="gift-container">
          <h2>INCLINE METAL PLATES</h2>
          <img src="../static/plates.jpg" alt="Incline Metal Plates" class="img1" />
        </div>
        
        

  
      </div>     
    </main>

    <!-- FOOTER -->
    <footer class="footer-UI">
      <div>
        <p>Contact Information</p>
        <p>1197 West Carson Street, Pittsburgh, PA 15219</p>
        <p>Phone Number: 412.381.1665</p>
        <p>Fax: 412.381.1943</p>
        <p>duq.incline@duquesneincline.org</p>
      </div>
      <div>
        <p>Pages</p>
        <p><a href="../index.html">Home</a></p>
        <p><a href="./plan.html">Plan your trip</a></p>
        <p><a href="./about.html">About</a></p>
        <p><a href="./gift.html">Gift Shop</a></p>
      </div>
      <div>
        <p>Subscribe to our Mailing List</p>
        <div class="horizontal-container">
          <input placeholder="Name" id="name" type="name" required/>
          <input placeholder="Email address" id="email" type="email" required/>
        </div>
        <div class="horizontal-container">
          <input placeholder="Phone" id="phone" type="phone"/>
          <input placeholder="Zip Code" id="zip" type="zip"/>
        </div>
        <div style="display: flex; align-items: center; gap: 4px;">
          <input type="checkbox" id="sms-checkbox" name="sms">
          <p style="display: inline-block; margin: 0;">I would like to receive messages via SMS text</p>
        </div>
        
        <button onclick="validate()">Subscribe</button>
        <p id="validity-msg"></p>
      </div>
    </footer>
  </body>
  
</html>
