<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="../static/script.js"></script>
    <title>Duquesne Incline</title>
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="logo">
        <img src="../static/DuqInclineLogo.png" alt="Duquesne Incline Logo" />
      </div>
      <h1 class="heading">Duquesne Incline</h1>
      <nav>
        <a href="../index.html">Home</a>
        <a href="./plan.html">Plan your trip</a>
        <a href="./about.html">About</a>
        <a href="./gift.html">Gift Shop</a>
      </nav>
    </header>
    <!-- MAIN -->
    <main>
      <div class="container">
        <div class="horizontal-container2">
          <h1 class="Title">Plan your trip</h1>
          <h2 class="open-msg">Open every day from 6:30 a.m. to 12:30 a.m.</h2>
        </div>

        <nav class="subnav">
          <a href="#fares" class="subnav-link active">Fares</a>
          <a href="#group-rates" class="subnav-link">Group Rates</a>
          <a href="#field-trips" class="subnav-link">Field Trips</a>
          <a href="#city-tours" class="subnav-link">City Tours</a>
          <a href="#weather" class="subnav-link">Weather</a>
        </nav>

        <section id="fares" class="subnav-content">
          <h3>Fares</h3>
          <table>
            <tr class="paragraph">
              <td>Adults (Ages 12-64)</td>
              <td>$2.50 Each Way or $5.00 Round Trip</td>
            </tr>
            <tr class="paragraph">
              <td>Children (Ages 6-11)</td>
              <td>$1.25 Each Way or $2.50 Round Trip</td>
            </tr>
            <tr class="paragraph">
              <td>Children 5 and Under</td>
              <td>Free</td>
            </tr>
            <tr class="paragraph">
              <td>University students with proper ID</td>
              <td>Free</td>
            </tr>
          </table>
        </section>
        <section id="group-rates" class="subnav-content" style="display: none">
          <h3>Group Rates</h3>
          <p class="paragraph">
            *Group Rates are Valid for Any Group of 10 or More People<br />
          </p>
          <table>
            <tr class="paragraph">
              <td>Adults (Ages 12-64)</td>
              <td>$1.75 Each Way or $3.50 Round Trip</td>
            </tr>
            <tr class="paragraph">
              <td>Children (Ages 6-11)</td>
              <td>$1.00 Each Way or $1.75 Round Trip</td>
            </tr>
            </tr>
          </table>
        </section>
        <section id="field-trips" class="subnav-content" style="display: none">
          <h3>Field Trips</h3>
          <p class="paragraph">
            A free field trip program is available for students and youth groups
            of ten or more daily – except Saturdays and Sundays after 12:00 noon
            due to weekend crowds and limited space. The program includes:
          </p>
          <ul>
            <li style="font-weight: bold">
              A teacher's lesson packet for students' specific grade level
            </li>
            <li style="font-weight: bold">
              A round trip ride on the Duquesne Incline
            </li>
            <li style="font-weight: bold">
              A history of inclines in Pittsburgh
            </li>
            <li style="font-weight: bold">
              A discussion about Pittsburgh's industrial past
            </li>
            <li style="font-weight: bold">
              A visit to the machine room to observe the original hoisting
              equipment in operation and learn about the engineers who built it
            </li>
            <li style="font-weight: bold">
              A panoramic view of Downtown Pittsburgh and The North Shore from
              our observation deck 400 feet above the three rivers
            </li>
            <li style="font-weight: bold">
              A brief history of the French and Indian War from which the city
              arose
            </li>
          </ul>
        </section>
        <section id="city-tours" class="subnav-content" style="display: none">
          <h3>City Tours</h3>
          <ul>
            <li style="font-weight: bold">
              Pittsburgh Tours and More - Pittsburgh Movie Locations, Sports,
              Breweries, Wineries and More.
            </li>
            <li style="font-weight: bold">Molly’s Trolleys</li>
            <li style="font-weight: bold">Rivers of Steel</li>
            <li style="font-weight: bold">The Pittsburgh Tour Company</li>
          </ul>
        </section>
        <section id="weather" class="subnav-content" style="display: none">
          <h3>Weather</h3>
          <button id="weather-btn" onclick="getWeather()">Check Weather</button>
          <h2 id="weather-msg"></h2>
        </section>
      </div>
    </main>

    <!-- FOOTER -->
    <footer class="footer-UI">
      <div>
        <p>Contact Information</p>
        <p>1197 West Carson Street, Pittsburgh, PA 15219</p>
        <p>Phone Number: 412.381.1665</p>
        <p>Fax: 412.381.1943</p>
        <p>duq.incline@duquesneincline.org</p>
      </div>
      <div>
        <p>Pages</p>
        <p><a href="../index.html">Home</a></p>
        <p><a href="./plan.html">Plan your trip</a></p>
        <p><a href="./about.html">About</a></p>
        <p><a href="./gift.html">Gift Shop</a></p>
      </div>
      <div>
        <p>Subscribe to our Mailing List</p>
        <div class="horizontal-container">
          <input placeholder="Name" id="name" type="name" required/>
          <input placeholder="Email address" id="email" type="email" required/>
        </div>
        <div class="horizontal-container">
          <input placeholder="Phone" id="phone" type="phone"/>
          <input placeholder="Zip Code" id="zip" type="zip"/>
        </div>
        <div style="display: flex; align-items: center; gap: 4px;">
          <input type="checkbox" id="sms-checkbox" name="sms">
          <p style="display: inline-block; margin: 0;">I would like to receive messages via SMS text</p>
        </div>
        
        <button onclick="validate()">Subscribe</button>
        <p id="validity-msg"></p>
      </div>
    </footer>
  </body>
</html>
